
/* 
    Created on : Jun 2, 2014, 4:39:45 PM
    Author     : Theodore Chaikalis
*/

body {
    font-family: Helvetica, sans-serif;
    background-color: #f9f9f9;
    margin: 50px;
    color: #444;
}

.center {
    margin: 0 auto;
}

.centered {
    text-align: center;
    margin-left: 50%;
}


#left { float: left }

#right { float: right }


#one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0 auto;
	width: 480px;
	text-align: center;
	border-collapse: collapse;
}
#one-column-emphasis th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
#one-column-emphasis td
{
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
.oce-first
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}
