<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico"/>
        <title>Seagle - Easy Software Evolution Analysis</title>
    </h:head>
    <h:body>
        <h:form id="form">
            <p:growl id="growl" showDetail="true" sticky="false" />  

            <h:panelGrid cellpadding="4" styleClass="center">
                <h:panelGroup style="display:block; text-align:center">       
                    <p:graphicImage value="img/seagle_logo.png" alt="seanets logo" width="450"/>
                </h:panelGroup>

                <h:panelGroup style="display:block; text-align:center">
                    <p:inputText id="gitPath" 
                                 value="#{SeanetsView.remoteRepositoryAddress}" 
                                 size="100"
                                 required="false" 
                                 label="Remote Git Repository Path"/>
                </h:panelGroup>


                <p:overlayPanel id="versionPanel" for="selectVersions" hideEffect="fade" dynamic="true" style="width:800px">
                    <p:commandButton id="selectAllVersions" 
                                     value="Select All Versions" 
                                     actionListener="#{SeanetsView.selectAllVersions}" 
                                     update="versionTable"
                                     />

                    <p:dataTable id = "versionTable" var="version" value="#{SeanetsView.availableVersionList}" rows="10" paginator="true">
                        <p:column headerText="Version Name">
                            <h:outputText value="#{version.versionName}" />
                        </p:column>

                        <p:column headerText="Date">
                            <h:outputText value="#{version.date}" />
                        </p:column>

                        <p:column headerText="Analyze?">
                            <p:selectBooleanCheckbox value="#{version.includeInAnalysis}"/>
                        </p:column>
                    </p:dataTable>              
                </p:overlayPanel>

                <p:commandButton id="getProjectFromGit" 
                                 value="Download Project" 
                                 actionListener="#{SeanetsView.readFromRemoteUrl}" 
                                 update="growl, :form:versionTable"
                                 />

                <p:commandButton id="selectVersions" 
                                 value="Select Versions"
                                 type="button"
                                 update = "growl"/>

                <p:commandButton id="doEvolutionAnalysis" 
                                 value="Perform Evolution Analysis" 
                                 actionListener="#{SeanetsView.doEvolutionAnalysis()}" 
                                 update="growl"
                                 />

                <p:commandButton id="updateGraphMetrics" 
                                 value="Update Graph Metrics" 
                                 actionListener="#{SeanetsView.updateAllProjectGraphMetrics}"/>

                <p:commandButton id="updateOOMetrics" 
                                 value="Update Source Code Metrics" 
                                 actionListener="#{SeanetsView.updateAllProjectSourceCodeMetrics}"/>

                <p:commandButton id="updateRepoMetrics" 
                                 value="Update Repo Metrics" 
                                 actionListener="#{SeanetsView.updateAllProjectRepositoryMetrics}"/>



                <h:panelGroup style="display:block; text-align:center">
                    <h:form>
                        <p:dataTable value="#{SeanetsView.model}" var="item">
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Pid"/>
                                </f:facet>
                                <h:outputText value="#{item.pid}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Name"/>
                                </f:facet>
                                <h:outputText value="#{item.name}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Versions"/>
                                </f:facet>
                                <h:outputText value="#{item.versions}"/>
                            </p:column>
                            <p:column>
                                <h:commandButton value="Simulate" action="#{SeanetsView.simulate}" />
                            </p:column>
                            <p:column>
                                <h:commandButton value="Printouts" action="#{SeanetsView.printOutDataForPaper}" />
                            </p:column>
                            <p:column>
                                <h:commandButton value="Update Graph metrics" action="#{SeanetsView.updateGraphBasedMetrics}" />
                            </p:column>
                            <p:column>
                                <h:commandButton value="Update OO metrics" action="#{SeanetsView.updateSourceCodeMetrics}" />
                            </p:column>
                            <p:column>
                                <h:commandButton value="Update Repo metrics" action="#{SeanetsView.updateRepositoryMetrics}" />
                            </p:column>
                            <p:column>
                                <h:commandButton value="Delete Project" action="#{SeanetsView.deleteProject}" />
                            </p:column>
                        </p:dataTable>


                        <p:dialog header="Information" widgetVar="warningNoVersions" minHeight="60">
                            <h:outputText value="Please select which versions should be analysed" />
                        </p:dialog>
                        
                        <p:dialog header="Information" widgetVar="warningNoEvolutionExist" minHeight="80">
                            <h:outputText value="No Evolution Analysis data exist for this project" />
                        </p:dialog>

                    </h:form>
                </h:panelGroup>
                <h:panelGroup style="display:block; text-align:center">


                </h:panelGroup>

            </h:panelGrid>
        </h:form>
    </h:body>
</html>

